@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #385144;
    --secondary-color: #F8F5F2;
    --main-font: "Bricolage Grotesque", sans-serif;
    --secondary-font: "Instrument Sans", sans-serif;
}

body {
    font-size: 16px;
    user-select: none;
}

h1 {
    font-family: var(--main-font);
    font-size: clamp(2.5rem, 8vw + 1rem, 5rem);
    font-weight: normal;
    letter-spacing: 5px;
    background-color: var(--main-color);
    padding: 20px;
    color: white;
    text-shadow: 2px 2px 5px black;
    border-radius: 20px;
}

p,
h2 {
    font-family: var(--secondary-font);
    font-weight: normal;
    font-size: 1.5em;
    margin: 20px;
}

h2 {
    font-size: 1.75em;
}
a {
    text-decoration: none;
    color: #F8F5F2;
}

.landing-main {
    position: relative;
    height: 100vh;
    background-color: rgb(248, 245, 242, .5);
}

.background-image {
    position: relative;
    height: 100vh;
    background-image: url(/assets/Background-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(.85);
    opacity: .5;
}

.background-image img {
    object-fit: cover;
}

.landing-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(80%, 1200px);
    text-align: center;
}

.button {
    margin-top: 1rem;
    font-family: var(--main-font);
    font-size: 1em;
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    border: none;
    cursor: pointer;
    align-items: center;
    gap: 0.75rem;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 10rem;
    font-weight: 600;
    padding: 1rem 2rem;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.3s;
}

.button__icon-wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: var(--clr);
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.button:hover {
    background-color: #000;
}

.button:hover .button__icon-wrapper {
    color: #000;
}

.button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
}

.button:hover .button__icon-svg:first-child {
    transition: transform 0.3s ease-in-out;
    transform: translate(150%, -150%);
}

.button:hover .button__icon-svg--copy {
    transition: transform 0.3s ease-in-out 0.1s;
    transform: translate(0);
}

@media (max-width: 720px) {
    p, h2, h1 {
        text-align: justify;
        margin: 10px 0;
    }
}