@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --main-color: #0D1117;
    --secondary-color: #58A6FF;
    --main-font: "Inter", sans-serif;
    --light-mode: #C9D1D9;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body.dark {
    background-color: var(--main-color);
    color: white;
    font-family: var(--main-font);
    width: 100%;
}

main {
    margin: 0 auto;
    width: 75%;
    /* Or a fixed width like 1200px */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
}

a {
    color: white;
    text-decoration: none;
}

header {
    width: 70%;
    margin: 0 auto;
    display: block;
}

header .container-1 {
    text-align: center;
}

header h1 {
    font-size: 3rem;
}

header p {
    font-weight: 400;
}

header img {
    display: block;
    height: 250px;
    width: 250px;
    border: 2px solid var(--secondary-color);
    border-radius: 50%;
    margin: 0 auto;
}

.container-2 {
    margin: 50px auto;
}

.container-2 ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    place-items: center;
}

li a {
    border: 1px solid var(--secondary-color);
    padding: 15px 30px;
    color: var(--secondary-color);
}

a.active {
    background-color: var(--secondary-color);
    color: white;
}

li a:hover:not(.active) {
    background-color: rgb(88, 166, 255, .2);
    color: white;
}

footer {
    display: flex;
    flex-wrap: nowrap;
    place-content: center;
    width: 100%;
    margin: 0 auto;
    position: sticky;
    gap: calc(5% + 1rem);
    background-color: var(--main-color);
    padding: 14px;
    bottom: 0;
}

footer p {
    font-size: clamp(12px, .8vw, 1rem);
}

p a:hover {
    color: var(--secondary-color);
}

#contact {
     display: none;
}
.contact {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact .aside-child-1 {
    text-align: center;
}

.aside-child-1 h1 {
    font-size: 3rem;
}

.aside-child-2 {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.aside-child-2 .card-1,
.card-2,
.card-3 {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
}

.back-button {
    position: absolute;
    top: 50px;
}

.back-button a:hover {
    color: #58A6FF;
}

.fa-github-alt {
    font-weight: bolder;
    font-size: 1.5rem;
}